body {
    font-family: "Work Sans", sans-serif;
}
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*small*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }

}
/*medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }

}
/*large*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }

}
.header{
    padding: 20px;
   

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}
.header .container .fa-circle {
    color: var(--main-color);
    width: 60px;
}
.header .container .fa-light{
    color: black;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}
.header .container .links{
    position: relative;
}
.header  .links .icon  {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;

}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    
    
}
.header .links .icon span:first-child{
    width: 100%;
    
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0,3s;

}

.header .links .icon span:last-child{
    width: 100%;

}
 .header .links ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc( 100% + 15px );
    display: none;
    
}
.header .links:hover ul{
    display: block;
    z-index: 1;
}


.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 1;
}
.header .links ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul a:hover{
    padding-left: 25px;
    

}
.header .links ul a{
    border-bottom: 1px solid #ddd;
}
.Landing{
    background-image: URL(../images/pexels-photo-355747.jpeg);
    background-size: cover;
    height: calc(100vh + 64px);
    position: relative;
    
   
    
}
.Landing .Intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    max-width: 100%;
    text-align: center;

}
.Landing .Intro-text h1{
    margin: 0;
    color: var(--main-color);
   
}
.Landing .Intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
.features{
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;


}
.features .feat i{
    color: var(--main-color);

}
.features .feat h3{
    font-weight: 800px;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #333;
    font-size: 17px;

}
.special-heading{
    text-align: center;
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3;
    margin: 0;
    font-weight: 800;
    
}
.special-heading + p {
    margin: -30px 0 0 0;
    text-align: center;
    color: #797979;
    font-size: 20px;
}
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
}
@media (max-width: 767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(300px ,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
     flex-direction: column;
     justify-content: center;
     align-items: center; 
     text-align: center;
      
       

    }
      
    

}
    
.services .services-content .srv .text{
    flex: 1;
    

}
.services .services-content .srv h3{
    margin: 0 0 20px;
   


}
.services .services-content .srv p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;

}
.services .services-content  .image {
    text-align: center;
    position: relative;
}
.services .services-content .image img{
    width: 260px;
}
.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }

}
.Portfolio{
    padding-top: 60px;
    padding-bottom: 60px; 
    background-color: #f6f6f6;
}
.Portfolio .Portfolio-content .card {
    background-color: white;
}
.Portfolio .Portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(300px ,1fr));
    grid-gap: 30px;
    margin-top: 80px;

}
.Portfolio .Portfolio-content .card img {
    max-width: 100%;
}
.Portfolio .Portfolio-content .card .info {
    padding: 20px;

} 
.Portfolio .Portfolio-content .card .info h3 {
    margin: 0;
    

} 
.Portfolio .Portfolio-content .card .info p {
    line-height: 1.8;
    color: #777;
    margin-bottom: 0;

} 
.about {
    padding-top: 60px;
    padding-bottom: 60px; 
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media (max-width: 991px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content img {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content img{
        margin: 0 auto 60px;
    }
}

.about .about-content {
    position: relative;
}
 .about .about-content .photo-one::before {
    content: "";
    position: absolute;
    top: -95px;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    z-index: -1;
    left: -20px;

  
   

}
    
.about .about-content .photo-one::after{
    top: -40px;
    content: "";
    position: absolute;
    right: 740px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    
    
   
    

}

.about .about-content img {
    max-width: 100%;
    
    
    
    
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    
}

.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;

}
.contact{
    padding-top: 60px;
    padding-bottom: 60px; 
    background-color: #f6f6f6;  
}
.contact .info {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;

}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact .info .social i{
    color: var(--secondary-color);
    margin-left: 10px;
}
@media (max-width: 767px) {
    .contact .info .label, 
    .contact .info .link{
        font-size: 25px;
    } 
}
.footer{
    background-color: var(--secondary-color);
    padding: 30px 10px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}
@media (max-width: 1200px) and (min-width: 768px) { 
    .about .about-content .photo-one::before {
        display: none;
    }
    .about .about-content .photo-one::after {
        display: none;
    }  
}  
@media (max-width: 732px) and (min-width: 453px) { 
    .about .about-content .photo-one::before {
        display: none;
    }    
}





